<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    {{!-- Hero Section starts --}}
    <section class="hero">
    <div class "hero_title">
        <div class="hero_heading">
    <h1 >WE WILL HELP YOU TO</h1>
    <h1><span class="hero_heading2">GROW YOUR BUSINESS</span></h1>
    </div>
    <P class="hero_para">We Are The Team Of The Professional developers &#x270C;</P>
    <a href="https://amazon-construction.herokuapp.com/" rel="nofollow" class="read_more">Read More</a>
    <a href="https://www.instagram.com/yaseen07_/" rel="nofollow" class="read_more2">Contact</a>
    </div>
    <img src="images/growth.svg" alt="growth" class="growth_img">
</section>
{{!-- <hr> --}}
    {{!-- About us Section starts --}}
    {{>about}}
{{!-- <hr> --}}
    {{!-- services us Section starts --}}
    {{>services}}

    {{>map}}
{{!-- <hr> --}}
    {{!-- contact us Section starts --}}
    {{>contact}}

    {{!-- footer us Section starts --}}
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>
</html>