<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    {{!-- Hero Section starts --}}
    <section class="hero">
    <div class "hero_title">
        <div class="hero_heading">
    <h1 >WE WILL HELP YOU TO</h1>
    <h1 ><span class="hero_span">GROW YOUR BUSINESS</span></h1>
    </div>
    <P class="hero_para">We Are The Team Of The Professional developers</P>
    <a href="" class="read_more">Read More</a>
    </div>
    <img src="images/growth.svg" alt="growth" class="growth_img">
</section>
<hr>
<br>
    {{!-- About us Section starts --}}
    {{>about}}
<hr>
<br>
    {{!-- services us Section starts --}}
    {{>services}}
    <br>
    {{>map}}
<hr>
<br>
    {{!-- contact us Section starts --}}
    {{>contact}}

    {{!-- footer us Section starts --}}
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>
</html>