    <section id="about">
        <div class="about">
            <h2 class="about_heading" >About Us</h2>
            <p class="about_harding2">Talk is cheap Show me the code &#128526;</p>
        </div>
        <div class="about_main">

    <img src="images/about.svg" alt="growth" class="growth_img">
    <div class="about_para">
    <div class="about_title">
    <h1 >WE ARE THE PROFESSIONAL DEVELOPERS</h1>
    </div>
    <P class="hero_para">Welcome to <span>Web Wonders</span> Your Number One Source For All Things. We're Dedicated To Giving You Best Of Work. With A Focus On [Three Characteristics. ie: Dependability Customer Service and Uniqueness]</P>
    <a href="https://webwonders.cyclic.app" rel="nofollow" class="read_more">About Us</a>
    </div>
    </div>
    </section>