    <section id="contact">
        <div class="services">
            <h2 class="about_heading" >Contact Us</h2>
            <p class="hero_para">We Are Happy To Help You</p>
        </div>
        <form action="/contact" method ="POST" onsubmit="myFunction()">
        <div class="contact_form">
        <input class="form_input" type="text" name = "name" id="name" placeholder="Enter Your Name" required minlength="3">
        <input class="form_input" type="email" name = "email" id="email" placeholder="Enter Your Email" required minlength="3">
        <input class="form_input" type="text" name = "phone" id="phone" placeholder="Enter Mobile Number" required minlength="10">
        <input class="form_input" type="text" name = "message" id="message" placeholder="Enter Your message" required minlength="3" >
        <button class="read_more form_submit" type="submit">Send Message</button>
        </div>
        </form>
    </section>
