    <div class="map" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62112.229975927934!2d77.06258939406302!3d13.349381945769501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb02c3b632e23b9%3A0xe15fb239e9d737bb!2sTumakuru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1659622399059!5m2!1sen!2sin" width="90%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
