<div id="preloader">
    <div class="center_div">
        <div class="rot"></div>
        <h1 class= "load">Loading..</h1>
    </div>
</div>
<nav class="navbar background h-nav">
    <a href="/" class="title">Web Techies</a>
    <ul class="navlist v-class">
        <li><a href="/" class="index">Home</a></li>
        <li><a href="#about" >About</a></li>
        <li><a href="#services" >Services</a></li>
        <li><a href="#contact" >Contact</a></li>
    </ul>
            <div class="burger" id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
</nav>