    <section id="services">
        <div class="services" >
            <h2 class="about_heading" >Our Services</h2>
            <p class="hero_para">grow your business with us</p>
        </div>
        <div class="sponsors">
        <div class="sponsors_box">
        <img src="images/setting.jpg" alt="Setting" class="sponsors_img">
        <div class="sponsors_setting">
        <p class="sponsors_heading">Setting</p>
        <p class="sponsors_para">We Provide control panel that enables the user to configure the appearance or actions in an web application.</p>
        </div>
        </div>

        <div class="sponsors_box">
        <img src="images/speed.jpg" alt="Speed" class="sponsors_img">
        <dir class="sponsors_setting">
        <p class="sponsors_heading">Speed Up</p>
        <p class="sponsors_para">We make your web site faster through our online tool and analyze with PageSpeed insights</p>
        </dir>
        </div>
        <div class="sponsors_box">
        <img src="images/privacy.webp" alt="Privacy" class="sponsors_img">
        
        <dir class="sponsors_setting">
        <p class="sponsors_heading">Privacy</p>
        <p class="sponsors_para">We handles any customer, client or employee information gathered in its operations.</p>
        </dir>
        </div>
        </div>
        {{!-- <div class="sponsors_box"> --}}
        <div class="sponsors_space sponsors">
        <div class="sponsors_box">
        <img src="images/backup.webp" alt="Backup" class="sponsors_img">
                <div class="sponsors_setting">
        <p class="sponsors_heading">Backup</p>
        <p class="sponsors_para">We stored computer data so that it may be used to restore the original after a data loss even</p>
        </div>
        </div>

        <div class="sponsors_box">
        <img src="images/ssl.webp" alt="SSL" class="sponsors_img">
                <div class="sponsors_setting">
        <p class="sponsors_heading">SSL</p>
        <p class="sponsors_para">We enable websites to move from HTTP to HTTPS, which is more secure that authenticates a website's identity and enables an encrypted connection</p>
        </div>
        </div>

        <div class="sponsors_box">
        <img src="images/database.webp" alt="DataBase" class="sponsors_img">
                <div class="sponsors_setting">
        <p class="sponsors_heading">DataBase</p>
        <p class="sponsors_para">We stored data in database to access information electronically for easy access, management and updating.</p>
        </div>
        </div>
        </div>

        </div>
    </section>