    <section id="services">
        <div class="services" >
            <h2 class="about_heading" >Our Sponsors</h2>
            <p class="hero_para">grow you business with us</p>
        </div>
        <div class="sponsors">
        <div class="sponsors_box">
        <img src="images/apple.svg" alt="appple" class="sponsors_img">
        <p class="sponsors_heading">Apple</p>
        <p class="sponsors_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eligendi.</p>
        </div>

        <div class="sponsors_box">
        <img src="images/twitter.svg" alt="appple" class="sponsors_img">
        <p class="sponsors_heading">Apple</p>
        <p class="sponsors_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eligendi.</p>
        </div>

        <div class="sponsors_box">
        <img src="images/facebook.svg" alt="appple" class="sponsors_img">
        <p class="sponsors_heading">Apple</p>
        <p class="sponsors_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eligendi.</p>
        </div>
        </div>


        {{!-- <div class="sponsors_box"> --}}
        <div class="sponsors">
        <div class="sponsors_box">
        <img src="images/google.svg" alt="appple" class="sponsors_img">
        <p class="sponsors_heading">Apple</p>
        <p class="sponsors_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eligendi.</p>
        </div>

        <div class="sponsors_box">
        <img src="images/instagram.svg" alt="appple" class="sponsors_img">
        <p class="sponsors_heading">Apple</p>
        <p class="sponsors_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eligendi.</p>
        </div>

        <div class="sponsors_box">
        <img src="images/apple.svg" alt="appple" class="sponsors_img">
        <p class="sponsors_heading">Apple</p>
        <p class="sponsors_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eligendi.</p>
        </div>
        </div>

        </div>
    </section>