*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 50px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);

}
.title{
    text-decoration: none;
    margin-left: 100px;
    font-size: 30px;
    color: #7d3cff;
    font-weight: bold;
}
.background{
    background: rgba(0,0,0,0.3) url("../images/navv2.jpg");
    background-size: cover;
    /* background-blend-mode: darken; */
    position: sticky;
    top: 0;
}
.navlist{
    display: flex;
    align-items: center;
    width: 40vw;
}
.navlist li{
    list-style: none;
    padding: 0px 26px 0px 20px;

}
.navlist li a{
    text-decoration: none;
    font-size: 21px;
    color: #7d3cff;
    transition: 0.4s;
}
.navlist li a:hover{
    color: olive;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 92%;
    height: 70vh;
}
.about_main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 92%;
}
.growth_img{
    width: 40%;
    padding-left: 50px;
}
.hero_heading{
    color: #7d3cff;
    line-height: 30px;
    font-size: 30px;
}
.hero_heading2{
    color: #7d3cff;
    line-height: 73px;
    font-size: 38px;
}
.about_title{
    color: #7d3cff;
    line-height: 44px;
    font-size: 22px;

}
.hero_span{
    color: sienna;
}
.hero_para{
    color: #091f36;
    padding: 0px 0px 15px 0px;
    line-height: 25px;
}
.read_more{
    text-decoration: none;
    border: 1px solid black;
    background: #7d3cff;
    color: white;
    padding: 3px 5px;
    outline: none;
    border-radius: 3px;
    margin-right: 15px;
}
.read_more2{
    text-decoration: none;
    border: 1px solid black;
    /* background: #ff5e6c; */
    background: white;
    color: #7d3cff;
    padding: 3px 5px;
    outline: none;
    border-radius: 3px;
    list-style-type:disclosure-closed;
}
.read_more2:hover{
    background: #7d3cff;
    color: white;
}
.read_more:hover{
    background: whitesmoke;
    color: #7d3cff;
}
.about{
    text-align: center;
    color: darkgoldenrod;
    height: 0px;
}
.about_heading{
    font-size: 30px;
}
.about_harding2{
    color: #091f36;
    padding: 0px 0px 15px 0px;
    font-size: 17px;
}
.about_para{
    width: 37%;;
}
.sponsors_img{
    width: 90px;
    transform: translateY(-50px);
}
.sponsors_setting{
    margin-top: -50px;
}
/* .sponsors_heading{

}
.sponsors_para{

} */
.sponsors_box{
    text-align: center;
    text-align: center;
    border: 1pxsolid greenyellow;
    background: white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    border-radius: 6px;
    width: 25%;
    margin: 2px 32px 30px;
    padding: 14px 14px 14px;
}
.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.sponsors_para{
    font-size: 15px;
    color: #0f2862;
}
.sponsors_heading{
    font-size: 23px;
    color: #7d3cff;
}
.services{
    text-align: center;
    color: darkgoldenrod;
    margin-top: 55px;

}
.map{
    display: flex;
    justify-content: center;
}
.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form_input{
    width: 36%;
    margin: 13px;
    font-size: 15px;
    outline-color: darkgoldenrod;
    height: 33px;
    /* border-radius: 2px; */
}
.form_submit{
    width: 10%;
}
.footer{
    text-align: center;
    font-size: 15px;
    background: #161B30;
    color: white;
    line-height: 47px;
    margin-top: 68px;
}
.form_submit{
    margin-top: 20px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 19px;
    transform: translate(-10%, -50%);
}
.line1{
    width: 30px;
    background-color: darkgoldenrod;
    height: 4px;
    margin: 5px 0px;
    transition: transform 0.5s, width 0.5s;
}
.line2{
    width: 30px;
    background-color: darkgoldenrod;
    height: 4px;
    margin: 5px 0px;
    transition: transform 0.5s, width 0.5s;
}
.line3{
    width: 30px;
    background-color: darkgoldenrod;
    height: 4px;
    margin: 5px 0px;
    transition: transform 0.5s, width 0.5s;
}
.openburger .line1{
    transform: translate(-36%, 400%) rotate(-45deg);   
}
.openburger .line3{
    transform: translate(-25%, -100%) rotate(45deg);
}
.openburger .line2{
    width: 0%;
}
.burger:hover{
    color: mediumvioletred;
    cursor: pointer;
}
#preloader{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
}
.center_div{
    width: 4rem;
    height: 13rem;
    /* background-color: red; */
    position: relative;
    right: 15px;
}
.rot{
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-right: 0.3rem solid darkgoldenrod;
    border-radius: 50%;
    animation: rot 2s linear infinite;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.load{
    position: absolute;
    top: 18%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: #7d3cff;
    font-size: 12px;
}
#preloader{
    background: whitesmoke;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}