*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
}
h1{
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
p{
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:17px;
    margin: 0;
}
i{
    color: #9ABC66;
    font-size: 100px;
    line-height: 165px;
}
.card{
    background: white;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 4% auto;
}
.btms{
    text-decoration: none;
    background: #80808070 !important;
    color:black;
    border-radius: 20px;
    padding: 0 34px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
}
.btms:hover{
    color:blue;
    background:#88B04B !important;
}
.success{
    margin-top: 4%;
}
@media(max-width:1350px){
    h1{
        font-size: 95px !important;
    }
    .btms{
        font-size: 28px;
        padding: 8px 45px;
    }
    .card{
        width: 55%;
        height: 37%;
        margin: 30% auto;
    }
    p{
        font-size: 30px;
        margin-bottom: 90px;
    }
}